{% extends 'base.html.twig' %}
{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">
            Matrice d'évaluation pour le poste #{{ poste.libelle }}
        </h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_poste_index') }}" class="table-hover btn btn-primary">
                    Retour
                </a>
            </ol>
        </div>
    </div>
{% endblock %}

{% block title %}CandiFlow|Création de la matrice d'évaluation{% endblock %}

{% block stylesheets %}
    <style>
    
        .table th, .table td{
            margin:0;
            white-space: normal;
            font-size: 10px;
            max-height: 40px;
        }
        .bareme,.bareme-autre-information{
            width: 60px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="POST" action="" id="form-matrice">
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default mb-4">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <div class="row">
                                    <a class="accordion-toggle active " data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFour" aria-expanded="true">Les critères concernant le diplôme</a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-expanded="false">
                            <div class="panel-body">
                                <input type="hidden" id="diplomes" name="diplomes">
                                <table class="table table-bordered" id="table-diplome">
                                    <tr>
                                        <th>
                                            Les critères
                                        </th>
                                        <th class="">Barèmes</th>
                                    </tr>
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le niveau {{ poste.niveauEtude.libelle }} dans le domaine requis ({{ poste.domaine }})
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
        
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le {{ poste.niveauEtude.libelle }} dans un domaine proche ou assimilable aux différents domaines requis
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
        
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le niveau {{ poste.niveauEtude.libelle }} ans dans un domaine éloigné, non adapté
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle active" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFive" aria-expanded="false">Les critères concernant les expériences</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse show" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <input type="hidden" id="experiences" name="experiences">
                                <div class="row mb-2">
                                    <div class="col-11 form-group">
                                        <input type="text" class="form-control" id="input-experience" placeholder="Entrer le critère">
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-warning" id="add-experience">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="table-experience">
                                    <tr>
                                        <th>Les critères</th>
                                        <th class="">Barèmes</th>
                                        <th class="btn-action">Actions</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="card-header">
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="critere_exigence" class="custom-switch-input" id="critere_exigence">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Critères concernant les autres exigences</span>
                    </label>
                </div>
            </div>
            <div class="card-body d-none" id="form-exigence">
                <div class="container">
                    <input type="hidden" id="exigences" name="exigences">
                    {% for information_exigence in autre_informations_exigence %}
                        <h5>{{ information_exigence.nomColonne }} : {{ information_exigence.information }}</h5>
                        <div class="row mb-2">
                            <div class="col-11">
                                <input type="text" class="form-control" id="input-exigence-{{ information_exigence.code }}" placeholder="Entrer le critère">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-warning" id="add-exigence-{{ information_exigence.code }}">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered" id="table-exigence-{{ information_exigence.code }}">
                            <tr>
                                <th>Les critères</th>
                                <th>Barèmes</th>
                                <th class="btn-action">Actions</th>
                            </tr>
                        </table>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="critere_atout" class="custom-switch-input" id="critere_atout">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Critères concernant les atouts</span>
                    </label>
                </div>
            </div>
            <div class="card-body d-none" id="form-atout">
                <div class="container">
                    <input type="hidden" id="atouts" name="atouts">
                    {% for information_atout in autre_informations_atouts %}
                        <h5>{{ information_atout.nomColonne }} : {{ information_atout.information }}</h5>
                        <div class="row mb-2">
                            <div class="col-11">
                                <input type="text" class="form-control" id="input-atout-{{ information_atout.code }}" placeholder="Entrer le critère">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-warning" id="add-atout-{{ information_atout.code }}">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered" id="table-atout-{{ information_atout.code }}">
                            <tr>
                                <th>Les critères</th>
                                <th>Barèmes</th>
                                <th class="btn-action">Actions</th>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
       
        <div class="text-center mb-3">
            <button class="btn btn-primary" style="" id="enregistrer">Enregistrer</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        var diplomes = [];
        var experiences = [];
        var exigences = [];
        var atouts = [];
        var atoutsArray = {};
        var exigenceArray = {}
        
        $(document).ready(function(){
            $('#critere_exigence').on('click', function (){
                if( $('#critere_exigence').is(':checked')){
                    $('#form-exigence').removeClass('d-none')
                    $('#form-exigence').addClass('d-block')
                }
                else{
                    $('#form-exigence').removeClass('d-block')
                    $('#form-exigence').addClass('d-none')
                }
            })
            
            $('#critere_atout').on('click', function (){
                if( $('#critere_atout').is(':checked')){
                    $('#form-atout').removeClass('d-none')
                    $('#form-atout').addClass('d-block')
                }
                else{
                    $('#form-atout').removeClass('d-block')
                    $('#form-atout').addClass('d-none')
                }
            })
            
            // Ajouter des expériences
            $('#add-experience').on('click', function (){
                let libelle = $('#input-experience').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-experience'><i class='fa fa-minus'></i></td></tr>";
                $('#table-experience').append(html);
                $('#input-experience').val(" ")
            })
    
            // Ajouter des exigences
            $('#add-exigence').on('click', function (){
                let libelle = $('#input-exigence').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-exigence'><i class='fa fa-minus'></i></td></tr>";
                $('#table-exigence').append(html);
                $('#input-exigence').val(" ")
            })
            
            // Ajouter des exigences
            {% for information_exigence in autre_informations_exigence %}
            $('#add-exigence-{{ information_exigence.code }}').on('click', function (){
                let libelle = $('#input-exigence-{{ information_exigence.code }}').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme-autre-information'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-atout'><i class='fa fa-minus'></i></td></tr>";
                $('#table-exigence-{{ information_exigence.code }}').append(html);
                $('#input-exigence-{{ information_exigence.code }}').val(" ")
            })
            {% endfor %}
            // Ajouter des atout
            {% for information_atout in autre_informations_atouts %}
                $('#add-atout-{{ information_atout.code }}').on('click', function (){
                    let libelle = $('#input-atout-{{ information_atout.code }}').val().trim();
                    if(libelle === ""){
                        warning_noti("Veuillez renseigner une valeur")
                        system.stop()
                        return false;
                    }
                    let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme-autre-information'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-atout'><i class='fa fa-minus'></i></td></tr>";
                    $('#table-atout-{{ information_atout.code }}').append(html);
                    $('#input-atout-{{ information_atout.code }}').val(" ")
                })
            {% endfor %}
    
            {#  Supprimer des lignes dans les tableaux #}
            $('body').on('click', '.delete-experience', function(){
                var tr = $(this).closest('tr')
                tr.remove()
            })
            $('body').on('click', '.delete-exigence', function(){
                var tr = $(this).closest('tr')
                tr.remove()
            })
            
            $('body').on('click', '.delete-atout', function(){
                var tr = $(this).closest('tr')
                tr.remove()
            })
            
            
            //Lors du click sur le bouton enregistrer
            $('#enregistrer').on('click', function (e){
                e.preventDefault();
                //Faire les contrôles sur les champs
                if ($('table .line .bareme').length === 0){
                    return
                }else{
                    $('table .line .bareme').each(function (){
                        if (isNaN(parseInt($(this).find('input').val().trim())) || parseInt($(this).find('input').val().trim()) < 0){
                            warning_noti("Vous devez donner une note valide pour tous les critères")
                            system.stop()
                            return false;
                        }
                    })
                }
                
                //Controls sur les atouts
                if ($('#critere_atout').is(':checked')){
                    $('#form-atout .line').each(function (){
                        
                        if (isNaN(parseInt($(this).find('.bareme-autre-information input').val().trim())) || parseInt($(this).find('.bareme-autre-information input').val().trim()) < 0){
                            warning_noti("Vous devez donner une note valide pour tous les critères")
                            system.stop()
                            return false;
                        }
                    })
                }
                //Controls sur les exigences
                if ($('#critere_exigence').is(':checked')){
                    $('#form-exigence .line').each(function (){
                        if (isNaN(parseInt($(this).find('.bareme-autre-information input').val().trim())) || parseInt($(this).find('.bareme-autre-information input').val().trim()) < 0){
                            warning_noti("Vous devez donner une note valide pour tous les critères")
                            system.stop()
                            return false;
                        }
                    })
                }
                
                //Les diplômes
                $('#table-diplome .line').each(function (){
                    var diplome = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    diplomes.push(diplome)
                })
        
                //Les expériences
                $('#table-experience .line').each(function (){
                    var experience = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    experiences.push(experience)
                })
        
                //Les exigences
                {% for information_exigence in autre_informations_exigence %}
                    exigenceArray = {}
                    exigenceArray = {
                        autre_information : '{{ information_exigence.code }}',
                        exigence : []
                    }
                    
                    $('#table-exigence-{{ information_exigence.code }} .line').each(function (){
                        var exigence = {
                            libelle :$(this).find('.libelle').text(),
                            bareme : $(this).find('.bareme-autre-information input').val(),
                        }
                        exigenceArray.exigence.push(exigence)
                    })
                    exigences.push(exigenceArray)
                {% endfor %}
                //Les Atouts
                {% for information_atout in autre_informations_atouts %}
                    atoutsArray = {}
                    atoutsArray = {
                        autre_information : '{{ information_atout.code }}',
                        atouts : []
                    }
                    $('#table-atout-{{ information_atout.code }} .line').each(function (){
                        var atout = {
                            libelle :$(this).find('.libelle').text(),
                            bareme : $(this).find('.bareme-autre-information input').val(),
                        }
                        atoutsArray.atouts.push(atout)
                    })
                    atouts.push(atoutsArray)
                {% endfor %}
                
                $('#diplomes').val(JSON.stringify(diplomes))
                $('#experiences').val(JSON.stringify(experiences))
                $('#exigences').val(JSON.stringify(exigences))
                $('#atouts').val(JSON.stringify(atouts))
                
                
                //Soumettre le formulaire
                $('#form-matrice').submit();
            })
        })
    </script>
{% endblock %}
