{% extends 'base.html.twig' %}
{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">
            Matrice d'évaluation pour le poste #{{ poste.libelle }}
        </h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_poste_index') }}" class="table-hover btn btn-primary">
                    Retour
                </a>
            </ol>
        </div>
    </div>
{% endblock %}
{% block title %}New MatriceEvaluationCv{% endblock %}
{% block stylesheets %}
    <style>
    
        .table th, .table td{
            margin:0;
            white-space: normal;
            font-size: 10px;
            max-height: 40px;
        }
        
        .bareme {
            width: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="POST" action="" id="form-matrice">
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default mb-4">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle active" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFour" aria-expanded="true">Les critères concernant le diplôme</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-expanded="false">
                            <div class="panel-body">
                                <input type="hidden" id="diplomes" name="diplomes">
                                <table class="table table-bordered" id="table-diplome">
                                    <tr>
                                        <th>Les critères</th>
                                        <th>Barèmes</th>
                                    </tr>
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le niveau {{ poste.niveauEtude.libelle }} dans le domaine requis ({{ poste.domaine }})
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
        
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le {{ poste.niveauEtude.libelle }} dans un domaine proche ou assimilable aux différents domaines requis
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
        
                                    <tr class="line">
                                        <td style="padding-top: 30px" class="libelle">
                                            Le candidat a le niveau {{ poste.niveauEtude.libelle }} ans dans un domaine éloigné, non adapté
                                        </td>
                                        <td class="bareme">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle active" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFive" aria-expanded="false">Les critères concernant les expériences</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse show" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <input type="hidden" id="experiences" name="experiences">
                                <div class="row mb-2">
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="input-experience">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-warning" id="add-experience">Ajouter</button>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="table-experience">
                                    <tr>
                                        <th>Les critères</th>
                                        <th>Barèmes</th>
                                        <th class="btn-action">Actions</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle active" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseSix" aria-expanded="false">Les critères concernant les autres exigences</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse show" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <input type="hidden" id="exigences" name="exigences">
                                <div class="row mb-2">
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="input-exigence">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-warning" id="add-exigence">Ajouter</button>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="table-exigence">
                                    <tr>
                                        <th>Les critères</th>
                                        <th>Barèmes</th>
                                        <th class="btn-action">Actions</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="card">
            <div class="card-body">
                <div class="panel-group1" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading1">
                            <h4 class="panel-title1">
                                <a class="accordion-toggle active" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseServen" aria-expanded="false">Les critères concernant les atouts</a>
                            </h4>
                        </div>
                        <div id="collapseServen" class="panel-collapse collapse show" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <input type="hidden" id="atouts" name="atouts">
                                <div class="row mb-2">
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="input-atout">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-warning" id="add-atout">Ajouter</button>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="table-atout">
                                    <tr>
                                        <th>Les critères</th>
                                        <th>Barèmes</th>
                                        <th class="btn-action">Actions</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="text-center mb-3">
            <button class="btn btn-primary" style="" id="enregistrer">Enregistrer</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        var diplomes = [];
        var experiences = [];
        var exigences = [];
        var atouts = [];
        $(document).ready(function(){
            // Ajouter des expériences
            $('#add-experience').on('click', function (){
                let libelle = $('#input-experience').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-experience'><i class='fa fa-minus'></i></td></tr>";
                $('#table-experience').append(html);
                $('#input-experience').val(" ")
            })
    
            // Ajouter des exigences
            $('#add-exigence').on('click', function (){
                let libelle = $('#input-exigence').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-exigence'><i class='fa fa-minus'></i></td></tr>";
                $('#table-exigence').append(html);
                $('#input-exigence').val(" ")
            })
    
            // Ajouter des atout
            $('#add-atout').on('click', function (){
                let libelle = $('#input-atout').val().trim();
                if(libelle === ""){
                    warning_noti("Veuillez renseigner une valeur")
                    system.stop()
                    return false;
                }
                let html = "<tr class='line'><td class='libelle'>"+ libelle +"</td><td class='bareme'><input type='text' class='form-control'></td><td><button type='button' class='btn btn-danger p-1 delete-atout'><i class='fa fa-minus'></i></td></tr>";
                $('#table-atout').append(html);
                $('#input-atout').val(" ")
    
            })
            
            //Enregistrer
            $('#enregistrer').on('click', function (e){
                e.preventDefault();
                //Faire les contrôles sur les champs
                $('table .line').each(function (){
                    if ($(this).find('.bareme input').val().trim() === ""){
                        warning_noti("Vous devez donner une note pour tous les critères que vous coché")
                        system.stop()
                        return false;
                    }
                })
        
                //Les diplômes
                $('#table-diplome .line').each(function (){
                    var diplome = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    diplomes.push(diplome)
                })
        
                //Les expériences
                $('#table-experience .line').each(function (){
                    var experience = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    experiences.push(experience)
                })
        
                //Les exigences
                $('#table-exigence .line').each(function (){
                    var exigence = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    exigences.push(exigence)
                })
        
                //Les Atouts
                $('#table-atout .line').each(function (){
                    var atout = {
                        libelle :$(this).find('.libelle').text(),
                        bareme : $(this).find('.bareme input').val(),
                    }
                    atouts.push(atout)
                })
        
                $('#diplomes').val(JSON.stringify(diplomes))
                $('#experiences').val(JSON.stringify(experiences))
                $('#exigences').val(JSON.stringify(exigences))
                $('#atouts').val(JSON.stringify(atouts))
        
                //Soumettre le formulaire
                $('#form-matrice').submit();
            })
        })
    </script>
{% endblock %}
