{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}


{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">Liste postes</h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_poste_new') }}" class="table-hover btn btn-primary">Ajouter un poste</a>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Age exigé</th>
                                <th>Annee experiance</th>
                                <th>Outil informatique</th>
                                <th>Langue</th>
                                <th>Experiance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for poste in postes %}
                                <tr>
                                    <td>
                                        <div class="btn-group dropend">
                                            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="{{ path('app_outils_informatique', {code:poste.code}) }}" data-code="{{ poste.code }}">Outils informatiques</a></li>
                                                <li><a class="dropdown-item " href="{{ path('app_formations', {code : poste.code}) }}">Formations</a></li>
                                                <li><a class="dropdown-item " href="{{ path('app_regle_procedure', {code : poste.code}) }}">Règles et procédures</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{ poste.libelle }}</td>
                                    <td>{{ poste.description }}</td>
                                    <td>{{ poste.ageExige }}</td>
                                    <td>{{ poste.anneeExperiance }}</td>
                                    <td>{{ poste.outilInformatique }}</td>
                                    <td>{{ poste.atoutLangue }}</td>
                                    <td>{{ poste.atoutExperiance }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
{% endblock %}
