{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}


{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">Liste postes</h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_home') }}" class="table-hover btn btn-primary">Retour</a>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Libelle</th>
                                <th>Domaine</th>
                                <th>Niveau d'étude</th>
                                <th>Logiciel spécifique</th>
                                <th>Age</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for poste in postes %}
                                <tr>
                                    <td>
                                        <div class="btn-group dropend">
                                            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="{{ path('app_candidature_index', {code:poste.code}) }}" >Liste des candidactures</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{ poste.libelle }}</td>
                                    <td>
                                        {% if poste.domaine is null %}
                                            Non précisé
                                        {% else %}
                                            {{ poste.domaine }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if poste.niveauEtude is null %}
                                            Non précisé
                                        {% else %}
                                            {{ poste.niveauEtude }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if poste.logicielSpecifique is null %}
                                            Non précisé
                                        {% else %}
                                            {{ poste.logicielSpecifique }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if poste.age is null %}
                                            Non précisé
                                        {% else %}
                                            {{ poste.age }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
{% endblock %}
