{% extends 'base.html.twig' %}

{% block title %}
	CandiFlow | Mdification d'un poste
{% endblock %}

{% block breadcrumb_title %}
	<div class="page-header">
		<h1 class="page-title">
			Modification du poste {{ poste.libelle }}
		</h1>
		<div>
			<ol class="breadcrumb">
				<a href="{{ path('app_poste_index') }}" class="table-hover btn btn-primary">
					Retour
				</a>
			</ol>
		</div>
	</div>
{% endblock %}

{% block content %}
	{{ form_start(form, {'attr': { 'id' : 'form-poste'}}) }}
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						{{ form_row(form.libelle) }}
					</div>
				</div>
			</div>
		</div>
		
		{# Etat civil #}
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Etat civil</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10">
							<label class="custom-switch ps-0">
								{% if poste.critere.nomPrenoms == 1 %}
									<input type="checkbox" name="nomPrenom" class="custom-switch-input" checked="">
								{% else %}
									<input type="checkbox" name="nomPrenom" class="custom-switch-input">
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Nom et prénoms</span>
							</label>
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10">
							<label class="custom-switch ps-0">
								{% if poste.critere.nationalite == 1 %}
									<input type="checkbox" name="nationalite" class="custom-switch-input" checked="">
								{% else %}
									<input type="checkbox" name="nationalite" class="custom-switch-input">
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Nationalité</span>
							</label>
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							<label class="custom-switch ps-0">
								{% if poste.critere.sexe == 1 %}
									<input type="checkbox" name="sexe" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="sexe" class="custom-switch-input">
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Sexe</span>
							</label>
						</div>
					</div>
{# 					<div class="card-body"> #}
{# 						<div class="form-group mg-b-10"> #}
{# 							{% if poste.critere.dateNissance == 1 %} #}
{# 								<label class="custom-switch ps-0"> #}
{# 									<input type="checkbox" name="date-naissance" class="custom-switch-input" id="date-naissance" checked> #}
{# 									<span class="custom-switch-indicator me-3"></span> #}
{# 									<span class="custom-switch-description mg-l-10">Date de Naissance</span> #}
{# 								</label> #}
{# 								<div class="mt-3" id="form-date-naissance"> #}
{# 									<div class="input-group" > #}
{# 										<div class="input-group-text"> #}
{# 											<i class="fa fa-calendar tx-16 lh-0 op-6"></i> #}
{# 										</div> #}
{# 										<input class="form-control fc-datepicker" placeholder="Date de Fin" type="text" name="dateFin"> #}
{# 									</div> #}
{# 								</div> #}
{# 							{% else %} #}
{# 									<label class="custom-switch ps-0"> #}
{# 										<input type="checkbox" name="date-naissance" class="custom-switch-input" id="date-naissance"> #}
{# 										<span class="custom-switch-indicator me-3"></span> #}
{# 										<span class="custom-switch-description mg-l-10">Date de Naissance</span> #}
{# 									</label> #}
{# 									<div class="mt-3 d-none" id="form-date-naissance"> #}
{# 										<div class="input-group" > #}
{# 											<div class="input-group-text"> #}
{# 												<i class="fa fa-calendar tx-16 lh-0 op-6"></i> #}
{# 											</div> #}
{# 											<input class="form-control fc-datepicker" placeholder="Date de Fin" type="text" name="dateFin"> #}
{# 										</div> #}
{# 									</div> #}
{# 							{% endif %} #}
{# 							 #}
{# 						</div> #}
{# 					</div> #}
					
					<div class="card-body">
						<div class="form-group mg-b-10" >
							{% if poste.critere.ageExige == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="ageExige" class="custom-switch-input" id="age" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Age exigé</span>
								</label>
								<div class=" mt-3 row" id="formaAge">
									<div class="col-lg-6 col-md-12">
										{{form_row(form.age)}}
									</div>
									<div class="input-group col-lg-6 col-md-12">
										<div class="input-group-text">
											<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
										</div>
										<input class="form-control fc-datepicker" placeholder="Date de Fin" type="text" name="dateFin">
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="ageExige" class="custom-switch-input" id="age" >
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Age exigé</span>
								</label>
								<div class="d-none mt-3 row" id="formaAge">
									<div class="col-lg-6 col-md-12">
										{{form_row(form.age)}}
									</div>
									<div class="input-group col-lg-6 col-md-12" >
										<div class="input-group-text">
											<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
										</div>
										<input class="form-control fc-datepicker" placeholder="Date de Fin" type="text" name="dateFin">
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					
					<div class="card-body">
						<div class="form-group mg-b-10">
							<label class="custom-switch ps-0">
								{% if poste.critere.contact == 1 %}
									<input type="checkbox" name="contact" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="contact" class="custom-switch-input" >
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Contact(Télephone et Email)</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-lg-6">
				{# Diplômes et formations #}
				<div class="card">
					<div class="card-header">
						<div class="card-title">Diplômes et Formations</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							{% if poste.critere.diplome == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="diplome" class="custom-switch-input" id="diplome" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Diplôme/Niveau/Domaine</span>
								</label>
								<div class=" mt-3" id="formDiplome">
									<div class="row">
										<div class="col-12" id="niveauEtude">
											{{form_row(form.niveauEtude)}}
										</div>
										<div class="d-none " id="domaine">
											{{form_row(form.domaine)}}
										</div>
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="diplome" class="custom-switch-input" id="diplome" >
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Diplôme/Niveau/Domaine</span>
								</label>
								<div class="d-none mt-3" id="formDiplome">
									<div class="row">
										<div class="col-12" id="niveauEtude">
											{{form_row(form.niveauEtude)}}
										</div>
										<div class="d-none " id="domaine">
											{{form_row(form.domaine)}}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							{% if poste.critere.formationPoste == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="formation_poste" class="custom-switch-input" id="formations" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Formations en lien avec le poste</span>
								</label>
								<div class="mt-3" id="formFormations">
									<div class="row">
										<div class="col-12">
											{{ form_row(form.nombreFormation) }}
										</div>
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="formation_poste" class="custom-switch-input" id="formations">
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Formations en lien avec le poste</span>
								</label>
								
								<div class="d-none mt-3" id="formFormations">
									<div class="row">
										<div class="col-12">
											{{ form_row(form.nombreFormation) }}
										</div>
									</div>
								</div>
							{% endif %}
							
							
						</div>
					</div>
					{#                 <div class="card-body"> #}
					{#                     <div class="form-group mg-b-10" > #}
					{#                         <label class="custom-switch ps-0"> #}
					{#                             <input type="checkbox" name="autre-formations" class="custom-switch-input"> #}
					{#                             <span class="custom-switch-indicator me-3"></span> #}
					{#                             <span class="custom-switch-description mg-l-10">Autres Formations</span> #}
					{#                         </label> #}
					{#                     </div> #}
					{#                 </div> #}
				</div>
				
				{# Outils informatiques #}
				<div class="card">
					<div class="card-header">
						<div class="card-title">Outils informatiques</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							{% if poste.critere.logicielSpecifique ==1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="logiciel-specifique" class="custom-switch-input" id="outilInformatique" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Logiciels spécifiques</span>
								</label>
								
								<div class="mt-3" id="formOutilInformatique">
									<div class="row">
										<div class="col-12">
											{{ form_row(form.logicielSpecifique) }}
										</div>
									
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="logiciel-specifique" class="custom-switch-input" id="outilInformatique">
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Logiciels spécifiques</span>
								</label>
								
								<div class=" d-none mt-3" id="formOutilInformatique">
									<div class="row">
										<div class="col-12">
											{{ form_row(form.logicielSpecifique) }}
										</div>
									
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					
					<div class="card-body">
						<div class="form-group mg-b-10" >
							<label class="custom-switch ps-0">
								{% if poste.critere.autreOutils == 1 %}
									<input type="checkbox" name="autre-outils" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="autre-outils" class="custom-switch-input" >
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Autres outils informatiques</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			
			{# Expérience  sur CV#}
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Expériences</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10">
							<label class="custom-switch ps-0">
								{% if poste.critere.totalExperiance == 1 %}
									<input type="checkbox" name="total-experience-cv" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="total-experience-cv" class="custom-switch-input">
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Total expérience sur CV</span>
							</label>
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10">
							{% if poste.critere.parcoursGlobal == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="parcours-global" class="custom-switch-input" id="parcours-global" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Pacours profesionnel global prouvés</span>
								</label>
								
								<div class=" mt-3" id="form-parcours-global">
									<div class="row">
										<div class="col-6">
											{{ form_row(form.dureeParcoursGlobal) }}
										</div>
										<div class="col-6">
											{{ form_row(form.posteParcoursGlobal) }}
										</div>
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="parcours-global" class="custom-switch-input" id="parcours-global" >
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Pacours profesionnel global prouvés</span>
								</label>
								
								<div class=" d-none mt-3" id="form-parcours-global">
									<div class="row">
										<div class="col-6">
											{{ form_row(form.dureeParcoursGlobal) }}
										</div>
										<div class="col-6">
											{{ form_row(form.posteParcoursGlobal) }}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10">
							{% if poste.critere.parcoursSpecifique == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="parcours-specifique" class="custom-switch-input" id="parcours-specifique" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Parcours profesionnels spécifiques prouvés</span>
								</label>
								<div class=" mt-3" id="form-parcours-specifique">
									<div class="row">
										<div class="col-6">
											{{ form_row(form.dureeParcoursSpecifique) }}
										</div>
										<div class="col-6">
											{{ form_row(form.posteParcoursSpecifique) }}
										</div>
									</div>
								</div>
								{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="parcours-specifique" class="custom-switch-input" id="parcours-specifique" >
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Parcours profesionnels spécifiques prouvés</span>
								</label>
								
								<div class="d-none mt-3" id="form-parcours-specifique">
									<div class="row">
										<div class="col-6">
											{{ form_row(form.dureeParcoursSpecifique) }}
										</div>
										<div class="col-6">
											{{ form_row(form.posteParcoursSpecifique) }}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			
			{# Autres informations(Connaissance/Atouts) #}
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Autres informations(Connaissance / Atouts )</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							{% if poste.critere.autreInformation == 1 %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="connaissance" class="custom-switch-input" id="connaissance" checked>
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Connaissance/Atouts</span>
									<input type="text" hidden name="poste_connaissance" id="poste_connaissance">
								</label>
								
								<div class="mt-3" id="form-connaissance">
									<div class="row">
										<div class="col-5">
											<input type="text" class="form-control ml-4"  placeholder="Nom de la colonne" id="nomConnaissance">
										</div>
										<div class="col-5">
											<input type="text" class="form-control ml-4"  placeholder="Expérience/Formation/Atouts" id="domaineConnaissance">
										</div>
										<div class="col-2">
											<button type="button" class="btn btn-primary p-2" id="add-connaissance">
												Ajouter
											</button>
										</div>
										<div class="p-5">
											<table class="table table-bordered" id="table-connaissance">
												<thead>
												<th>Nom de la colonne</th>
												<th>Expériance/Formation/Atouts</th>
												<th class="btn-action">Actions</th>
												</thead>
												<tbody>
												{% for information in autre_informations %}
													<tr class="line">
														<td class="nomConnaissance">
															{{ information.nomColonne }}
														</td>
														<td class="domaineConnaissance">
															{{ information.information }}
														</td>
														<td>
															<button type="button" class="btn btn-danger p-1 delete-connaissance"><i class="fa fa-minus"></i></button>
														</td>
													</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{% else %}
								<label class="custom-switch ps-0">
									<input type="checkbox" name="connaissance" class="custom-switch-input" id="connaissance">
									<span class="custom-switch-indicator me-3"></span>
									<span class="custom-switch-description mg-l-10">Connaissance/Atouts</span>
									<input type="text" hidden name="poste_connaissance" id="poste_connaissance">
								</label>
								
								<div class="d-none mt-3" id="form-connaissance">
									<div class="row">
										<div class="col-5">
											<input type="text" class="form-control ml-4"  placeholder="Nom de la colonne" id="nomConnaissance">
										</div>
										<div class="col-5">
											<input type="text" class="form-control ml-4"  placeholder="Expérience/Formation/Atouts" id="domaineConnaissance">
										</div>
										<div class="col-2">
											<button type="button" class="btn btn-primary p-1" id="add-connaissance">
												Ajouter
											</button>
										</div>
										<div class="p-5">
											<table class="table table-bordered" id="table-connaissance">
												<thead>
												<th>Nom de la colonne</th>
												<th>Expériance/Formation/Atouts</th>
												<th class="btn-action">Actions</th>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			
			{# Décision #}
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Décision et justification sur le dossier</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							<label class="custom-switch ps-0">
								{% if poste.critere.decision == 1 %}
									<input type="checkbox" name="decision" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="decision" class="custom-switch-input" >
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Décision</span>
							</label>
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							<label class="custom-switch ps-0">
								{% if poste.critere.dossierComplet == 1 %}
									<input type="checkbox" name="dossier-complet" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="dossier-complet" class="custom-switch-input" >
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Dossier complet</span>
							</label>
						</div>
					</div>
					<div class="card-body">
						<div class="form-group mg-b-10" >
							<label class="custom-switch ps-0">
								{% if poste.critere.justification == 1 %}
									<input type="checkbox" name="justification" class="custom-switch-input" checked>
								{% else %}
									<input type="checkbox" name="justification" class="custom-switch-input" >
								{% endif %}
								<span class="custom-switch-indicator me-3"></span>
								<span class="custom-switch-description mg-l-10">Justification de la décision</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="d-flex justify-content-around mb-3">
			<button class="btn btn-primary" id="enregistrer">{{ button_label|default('Enregistrer') }}</button>
		</div>
	{{ form_end(form) }}
{% endblock %}

 {% block javascripts %}
	 <script>
         var  connaissances = [];
         var  atouts = [];
         var  parcoursSpecifiques = [];
         var  parcoursGlobal = [];

         $('#date-naissance').on('click', function (){
             if($("#date-naissance").is(":checked")){
                 $('#form-date-naissance').removeClass('d-none')
             }else{
                 $('#form-date-naissance').addClass('d-none')
             }
         })

         $("#age").on('click', function(){
             if($("#age").is(":checked")){
                 $('#formaAge').removeClass('d-none')
             }else{
                 $('#formaAge').addClass('d-none')
             }
         })
         $("#diplome").on('click', function(){
             if($("#diplome").is(":checked")){
                 $('#formDiplome').removeClass('d-none')
             }else{
                 $('#formDiplome').addClass('d-none')
             }
         })
         $("#formations").on('click', function(){
             if($("#formations").is(":checked")){
                 $('#formFormations').removeClass('d-none')
             }else{
                 $('#formFormations').addClass('d-none')
             }
         })

         $("#outilInformatique").on('click', function(){
             if($("#outilInformatique").is(":checked")){
                 $('#formOutilInformatique').removeClass('d-none')
             }else{
                 $('#formOutilInformatique').addClass('d-none')
             }
         })
         $("#connaissance").on('click', function(){
             if($("#connaissance").is(":checked")){
                 $('#form-connaissance').removeClass('d-none')
             }else{
                 $('#form-connaissance').addClass('d-none')
             }
         })

         $("#atout").on('click', function(){
             if($("#atout").is(":checked")){
                 $('#form-atout').removeClass('d-none')
             }else{
                 $('#form-atout').addClass('d-none')
             }
         })

         $("#parcours-global").on('click', function(){
             if($("#parcours-global").is(":checked")){
                 $('#form-parcours-global').removeClass('d-none')
             }else{
                 $('#form-parcours-global').addClass('d-none')
             }
         })
         $("#parcours-specifique").on('click', function(){
             if($("#parcours-specifique").is(":checked")){
                 $('#form-parcours-specifique').removeClass('d-none')
             }else{
                 $('#form-parcours-specifique').addClass('d-none')
             }
         })
		
		 {# Ajouter des connaissances #}
         $('#add-connaissance').on('click', function(){
             var nomConnaissance = $('#nomConnaissance').val().trim();
             var domaineConnaissance= $('#domaineConnaissance').val().trim()
             var html = "<tr class='line'><td class='nomConnaissance'>"+ nomConnaissance +"</td><td class='domaineConnaissance'>"+domaineConnaissance+"</td><td><button type='button' class='btn btn-danger p-1 delete-connaissance'><i class='fa fa-minus'></i></td></tr>";
             $('#table-connaissance tbody .line').each(function(i){
                 if($(this).find('.nomConnaissance').text() === nomConnaissance && $(this).find('.domaineConnaissance').text() === domaineConnaissance){
                     warning_noti("Vous ne pouvez plus ajouter cette ligne")
                     system.stop()
                     return  false;
                 }
             })
             if(nomConnaissance === ""){
                 warning_noti("Renseigner un nom valide")
                 system.stop()
                 return  false;
             }

             $('#table-connaissance tbody').append(html)
             $('#nomConnaissance').val("")
             $('#domaineConnaissance').val("")
         })
		
		 {# Ajouter des atouts #}
         $('#add-atout').on('click', function(){
             var nomAtout = $('#nomAtout').val();
             var html = "<tr class='line'><td class='nom-atout'>"+ nomAtout +"</td><td><button type='button' class='btn btn-danger p-1 delete-atout'><i class='fa fa-minus'></i></td></tr>";
             $('#table-atout tbody .line').each(function(i){
                 if($(this).find('.nom-atout').text() === nomAtout){
                     warning_noti("Vous ne pouvez plus ajouter cette ligne")
                     system.stop()
                     return  false;
                 }
             })
             $('#table-atout tbody').append(html)
         })
		
		 {# Ajouter des parcours profesionnel Global #}
         $('#add-parcours-global').on('click', function(){
             var dureeParcoursGlobal = $('#dureeParcoursGlobal').val();
             var domaineParcoursGlobal = $('#domaineParcoursGlobal').val();

             var html = "<tr class='line'><td class='duree-parcours-global'>"+ dureeParcoursGlobal +"<td class='domaine-parcours-global'>"+domaineParcoursGlobal+"</td></td><td><button type='button' class='btn btn-danger p-1 delete-parcours-global'><i class='fa fa-minus'></i></td></tr>";
             $('#table-parcours-global tbody .line').each(function(i){
                 if($(this).find('.duree-parcours-global').text() === dureeParcoursGlobal && $(this).find('.domaine-parcours-global').text() === domaineParcoursGlobal){
                     warning_noti("Vous ne pouvez plus ajouter cette ligne")
                     system.stop()
                     return  false;
                 }
             })
             $('#table-parcours-global tbody').append(html)
         })
		
		 {# Ajouter des parcours profesionnel Global #}
         $('#add-parcours-specifique').on('click', function(){
             var dureeParcoursSpecifique = $('#dureeParcoursSpecifique').val();
             var domaineParcoursSpecifique = $('#domaineParcoursSpecifique').val();

             var html = "<tr class='line'><td class='duree-parcours-specifique'>"+ dureeParcoursSpecifique +"<td class='domaine-parcours-specifique'>"+domaineParcoursSpecifique+"</td></td><td><button type='button' class='btn btn-danger p-1 delete-parcours-specifique'><i class='fa fa-minus'></i></td></tr>";
             $('#table-parcours-specifique tbody .line').each(function(i){
                 if($(this).find('.duree-parcours-specifique').text() === dureeParcoursSpecifique && $(this).find('.domaine-parcours-specifique').text() === domaineParcoursSpecifique){
                     warning_noti("Vous ne pouvez plus ajouter cette ligne")
                     system.stop()
                     return  false;
                 }
             })
             $('#table-parcours-specifique tbody').append(html)
         })
		
		 {#  Supprimer des lignes dans les tableaux #}
         $('body').on('click', '.delete-connaissance', function(){
             var tr = $(this).closest('tr')
             tr.remove()
         })
         $('body').on('click', '.delete-atout', function(){
             var tr = $(this).closest('tr')
             tr.remove()
         })
         $('body').on('click', '.delete-parcours-global', function(){
             var tr = $(this).closest('tr')
             tr.remove()
         })
         $('body').on('click', '.delete-parcours-specifique', function(){
             var tr = $(this).closest('tr')
             tr.remove()
         })

         $("#poste_niveauEtude").on('change', function(){
             createdFields($(this).val());
         })
		
		 {# Enresgitrer le poste #}
         $('#enregistrer').on('click', function(e){
             e.preventDefault()
             if($('#poste_libelle').val() == ""){
                 warning_noti("Renseigner un nom pour le poste")
                 systme.stop()
                 return false;
             }

             if($("#diplome").is(":checked")){
                 let niveauEtude = $("#poste_niveauEtude").val().trim()
                 if( niveauEtude === ""){
                     warning_noti("Un niveau d'étude doit être choisir")
                     systme.stop()
                     return false;
                 }
             }
             if($("#formations").is(":checked")){
                 let nombreFormation = $('#poste_nombreFormation').val().trim();
                 if( nombreFormation === "" || parseInt(nombreFormation)<= 0){
                     warning_noti("Veuillez renseigner le nombre de formation")
                     systme.stop()
                     return false;
                 }
             }

             if($("#outilInformatique").is(":checked")){
                 let logicielSpecifique = $('#poste_logicielSpecifique').val().trim()
                 if (logicielSpecifique === ""){
                     warning_noti("Le logiciel spécifique n'est pas renseigné")
                     systme.stop()
                     return false;
                 }
             }
			
			
			
			
			 {# Parcours global #}
             $('#table-parcours-global tbody .line').each(function(i){
                 var dureeParcoursGlobal = $(this).find('.duree-parcours-global').text()
                 var domaineParcoursGlobal = $(this).find('.domaine-parcours-global').text()
                 var objectParcoursGlobal = {
                     'duree' : dureeParcoursGlobal,
                     'domaine' : domaineParcoursGlobal
                 }
                 parcoursGlobal.push(objectParcoursGlobal)
             })
			 {# Atout #}
             $('#table-atout tbody .line').each(function(i){
                 atouts.push($(this).find('.nom-atout').text())
             })
			 {# Connaissance #}
             $('#table-connaissance tbody .line').each(function(i){
                 var nomConnaissance = $(this).find('.nomConnaissance').text()
                 var domaineConnaissance = $(this).find('.domaineConnaissance').text()
                 var objetConnaissance = {
                     'nom' : nomConnaissance,
                     'domaine' : domaineConnaissance
                 }
                 connaissances.push(objetConnaissance)
             })
			
			 {# Parcours specifiques #}
             $('#table-parcours-specifique tbody .line').each(function(i){
                 var duree = $(this).find('.duree-parcours-specifique').text()
                 var domaine = $(this).find('.domaine-parcours-specifique').text()
                 var objectParcoursSpecifique =  {
                     'duree' : duree,
                     'domaine' : domaine
                 }
                 parcoursSpecifiques.push(objectParcoursSpecifique)
             })
             $('#poste_atout').val(JSON.stringify(atouts))
             $('#poste_connaissance').val(JSON.stringify(connaissances))
             $('#poste_parcours_specifique').val(JSON.stringify(parcoursSpecifiques))
             $('#poste_parcours_global').val(JSON.stringify(parcoursGlobal))

             $('#form-poste').submit()
         })

         function createdFields(niveauEtude){
             $.ajax({
                 url: '{{ path('createFields') }}',
                 type: 'POST',
                 dataType : 'json',
                 data : {
                     'niveauEtude' : niveauEtude
                 },
                 success:function (data){
                     if(data.domaine){
                         $('#domaine').removeClass('d-none')
                         $('#niveauEtude').removeClass('col-12')
                         $('#niveauEtude').addClass('col-6')
                         $('#domaine').addClass('col-6')
                     }else{
                         $('#domaine').addClass('d-none')
                         $('#niveauEtude').addClass('col-12')
                         $('#niveauEtude').removeClass('col-6')
                     }
                 }
             })
         }
	 </script>
 {% endblock %}