{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">
            Liste des candidatures en attente de traitement
        </h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_candidature_new', {code: poste.code}) }}" class="table-hover btn btn-primary">
                    Ajouter une candidature
                </a>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        
                        <table class="table table-bordered text-justify">
                            <thead>
                                <tr>
                                    <th style="vertical-align: top;">N°</th>
                                    {% if critere.nomPrenoms == 1 %}
                                        <th style="vertical-align: top;">Nom et prénoms</th>
                                    {% endif %}
                                    {% if critere.nationalite == 1 %}
                                        <th style="vertical-align: top;">Nationalité</th>
                                    {% endif %}
                                    {% if critere.sexe == 1 %}
                                        <th style="vertical-align: top;">Sexe</th>
                                    {% endif %}
                                    <th style="vertical-align: top;">Age <br>(
                                        {% if critere.ageExige == 1 %}
                                            {{ poste.age }}
                                        {% endif %})
                                    </th>
                                    
                                    {% if critere.diplome == 1 %}
                                        <th style="vertical-align: top;">Diplôme/Niveau/Domaine <br> ({{ poste.niveauEtude.libelle }})</th>
                                    {% endif %}
                                    {% if critere.formationPoste == 1 %}
                                        <th style="vertical-align: top;"> Formations pertinentes en lien avec le poste</th>
                                    {% endif %}
                                    {% if critere.logicielSpecifique == 1 %}
                                        <th style="vertical-align: top;">Outil Informatique <br>({{ poste.logicielSpecifique }}) </th>
                                    {% endif %}
                                    {% if critere.autreOutils %}
                                        <th style="vertical-align: top;">Autres outils informatiques</th>
                                    {% endif %}
                                    {% if critere.totalExperiance == 1 %}
                                        <th style="vertical-align: top;">Total expérience sur CV (Durée, Poste, Organisme)</th>
                                    {% endif %}
                                    {% if critere.parcoursGlobal == 1 %}
                                        <th style="vertical-align: top;">Parcours professionnel global prouvé
                                            Durée, Poste, Organisme <br>
                                            ({{ poste.dureeParcoursGlobal ~ " "~ poste.posteParcoursGlobal }})
                                        </th>
                                    {% endif %}
                                    {% if critere.parcoursSpecifique == 1 %}
                                        <th style="vertical-align: top;">Parcours professionnel spécifique prouvé
                                            Durée, Poste, Organisme <br>
                                            ({{ poste.dureeParcoursSpecifique ~ " "~ poste.posteParcoursSpecifique }})
                                        </th>
                                    {% endif %}
                                    {% if critere.autreInformation == 1 %}
                                        {% for autre_info in autres_informations %}
                                            <th style="vertical-align: top;">{{ autre_info.nomColonne}} <br>( {{ autre_info.information }})</th>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    {% if critere.contact == 1 %}
                                        <th style="vertical-align: top;">Contact
                                            (Téléphone et E-mail)</th>
                                    {% endif %}
                                    <th style="vertical-align: top" class="btn-action">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for candidature in candidatures  %}
                                    <tr>
                                        <td>{{ candidature.candidature.id }}</td>
                                        {% if critere.nomPrenoms == 1 %}
                                            <td>{{ candidature.candidature.nom ~" "~ candidature.candidature.prenom }}</td>
                                        {% endif %}
                                        {% if critere.nationalite == 1 %}
                                            <td>{{candidature.candidature.nationalite}}</td>
                                        {% endif %}
                                        {% if critere.sexe == 1 %}
                                            <td>{{ candidature.candidature.sexe }}</td>
                                        {% endif %}
                                        <td>{{ candidature.candidature.age ~ " ans" }}</td>
                                        
                                        {% if critere.diplome == 1 %}
                                            <td>{{ candidature.candidature.niveauEtude.libelle ~ "/"~ candidature.candidature.domaine }}</td>
                                        {% endif %}
                                        {% if critere.formationPoste == 1 %}
                                            <td>
                                                <ul>
                                                    {% for formation in candidature.formations  %}
                                                        <li> - {{ formation.libelle }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                        {% if critere.logicielSpecifique == 1 %}
                                            <td>
                                                {% if candidature.candidature.logicielSpecifique == 1 %}
                                                    Oui
                                                {% else %}
                                                    Non
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        {% if critere.autreOutils %}
                                            <td>
                                                <ul>
                                                    {% for outil in candidature.outils_candidatures  %}
                                                        <li> - {{ outil.outilInformatique.libelle }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                        {% if critere.totalExperiance == 1 %}
                                            <td>
                                                <ul>
                                                    {% for experience in candidature.total_experience  %}
                                                        {% if experience.precisionPoste is null %}
                                                            <li> - {{ experience.duree ~ "," ~experience.poste ~ ", "~ experience.organisme }}</li>
                                                        {% else %}
                                                            <li> - {{ experience.duree ~ "," ~experience.poste ~ ", "~ experience.organisme ~ "("~experience.precisionPoste~ ")" }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                        {% if critere.parcoursGlobal == 1 %}
                                            <td>
                                                <ul>
                                                    {% for parcours in candidature.parcours_global  %}
                                                        <li> - {{ parcours.libelle  }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                        {% if critere.parcoursSpecifique == 1 %}
                                            <td>
                                                <ul>
                                                    {% for parcours in candidature.parcours_specfique  %}
                                                        <li> - {{ parcours.libelle  }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        {% endif %}
                                        {% if critere.autreInformation == 1 %}
                                            {% for information_candidature in candidature.autre_information_candidatures %}
                                                {% if information_candidature.checked == 1 %}
                                                    <td>
                                                        Oui
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        Non
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        
                                        {% if critere.contact == 1  %}
                                            <td>
                                                Contact : {{ candidature.candidature.contact }}
                                                <br>
                                                Email: {{  candidature.candidature.email }}
                                            </td>
                                        {% endif %}
                                        <td class="">
                                            <button class="btn text-center bg-info">
                                                <div id="modal5">
                                                    <a class="modal-effect showModal" data-bs-effect="effect-super-scaled" data-code="{{ candidature.candidature.code }}" data-bs-toggle="modal" href="#modaldemo8">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- MODAL EFFECTS -->
                    <div class="modal fade" id="modaldemo8">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content country-select-modal">
                                <div class="modal-header">
                                    <h6 class="modal-title">Décision et  justification</h6>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(form, {'attr' : {'id':'form-decision' }}) }}
                                    <input type="hidden" id="code-candidature" name="code-candidature">
                                    <input type="hidden" id="pieces-manquantes" name="pieces-manquantes">
                                    <div class="container">
                                        <div class="card-body">
                                            <div class="modal-title">Décision(Refusé/Accepté)</div>
                                            <ul class="row p-3">
                                                <li class="col-lg-6 mb-2">
                                                    <a class="btn btn-country btn-lg btn-block p-2 text-center text-capitalize">
                                                        <label class="custom-switch ps-0">
                                                            <input type="checkbox" name="refuse" class="custom-switch-input" id="refuse">
                                                            <span class="custom-switch-indicator me-3"></span>
                                                            <span class="custom-switch-description mg-l-10">Rejétée</span>
                                                        </label>
                                                    </a>
                                                </li>
                                                <li class="col-lg-6 mb-2">
                                                    <a class="btn btn-country btn-lg btn-block p-2 text-center text-capitalize">
                                                        <label class="custom-switch ps-0">
                                                            <input type="checkbox" name="accepte" class="custom-switch-input" id="accepte">
                                                            <span class="custom-switch-indicator me-3"></span>
                                                            <span class="custom-switch-description mg-l-10">Acceptée</span>
                                                        </label>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                       
                                        <div class="card-body">
                                            <div class="modal-title">Dossier complet ?</div>
                                            <ul class="row p-3">
                                                <li class="col-lg-6 mb-2">
                                                    <a class="btn btn-country btn-lg btn-block p-2 text-center text-capitalize">
                                                        <label class="custom-switch ps-0">
                                                            <input type="checkbox" name="non" class="custom-switch-input" id="non">
                                                            <span class="custom-switch-indicator me-3"></span>
                                                            <span class="custom-switch-description mg-l-10">Non</span>
                                                        </label>
                                                    </a>
                                                </li>
                                                <li class="col-lg-6 mb-2">
                                                    <a class="btn btn-country btn-lg btn-block p-2 text-center text-capitalize">
                                                        <label class="custom-switch ps-0">
                                                            <input type="checkbox" name="oui" class="custom-switch-input" id="oui">
                                                            <span class="custom-switch-indicator me-3"></span>
                                                            <span class="custom-switch-description mg-l-10">Oui</span>
                                                        </label>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div id="piece-manquant" class="d-none">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <input type="text" class="form-control ml-4"  placeholder="Nom de la pièce" id="piece">
                                                    </div>
                                                   
                                                    <div class="col-3">
                                                        <button type="button" class="btn btn-primary p-1 pl-2 pr-2 mt-1" id="add-piece">
                                                            Ajouter
                                                        </button>
                                                    </div>
                                                    <div class="p-5 col-12">
                                                        <table class="table table-bordered" id="table-piece">
                                                            <thead>
                                                                <th>Nom de la pièce</th>
                                                                <th class="btn-action">Actions</th>
                                                            </thead>
                                                            <tbody>
            
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            {{ form_row(form.justification) }}
                                        </div>
    
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit" id="enregistrer">Enregistrer</button>
                                            <button class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var piecesManquantes = [];
        $('body').on('click', '.showModal', function (){
            var codeCandidature = $(this).attr('data-code')
            $('#code-candidature').val(codeCandidature)
            //Dossier complet
            $("#non").on('click', function(){
                if($("#non").is(":checked")){
                    $('#oui').prop('checked', false)
                    $('#piece-manquant').addClass('d-block')
                    $('#piece-manquant').removeClass('d-none')
                    $("#add-piece").on('click', ()=>{
                        var piece = $('#piece').val();
                        if(piece.trim() === ""){
                            warning_noti("Veuillez renseigner la pièce")
                            system.stop()
                            return  false;
                        }
                        var html = "<tr class='line'><td class='piece'>"+ piece +"</td><td><button type='button' class='btn btn-danger p-1 delete-piece'><i class='fa fa-minus'></i></td></tr>";
                        $('#table-piece tbody .line').each(function(i){
                            if($(this).find('.piece').text() === piece){
                                warning_noti("Vous ne pouvez plus ajouter cette ligne")
                                system.stop()
                                return  false;
                            }
                        })
                        $('#table-piece tbody').append(html)
                        $('#piece').val(" ")
                    })
                }
                else {
                    $('#piece-manquant').addClass('d-none')
                    $('#piece-manquant').removeClass('d-block')
            
                }
        
            })
            $("#oui").on('click', function(){
                if($("#oui").is(":checked")){
                    $('#non').prop('checked', false)
                    $('#piece-manquant').addClass('d-none')
                    $('#piece-manquant').removeClass('d-block')
                }
            })
    
            //Décision de la candidature
            $("#refuse").on('click', function(){
                if($("#refuse").is(":checked")){
                    $('#accepte').prop('checked', false)
                }
            })
            $("#accepte").on('click', function(){
                if($("#accepte").is(":checked")){
                    $('#refuse').prop('checked', false)
                }
            })
    
            $('body').on('click', '.delete-piece', function (){
                var tr = $(this).closest('tr')-
                        tr.remove()
            })
    
            $("#enregistrer").on('click', function(e){
                e.preventDefault()
                if($('#non').is(':checked')){
                    $('#table-piece tbody .line').each(function(i){
                        var piece =$(this).find('.piece').text();
                        piecesManquantes.push(piece)
                    })
                }
                $('#pieces-manquantes').val(JSON.stringify(piecesManquantes));
                $('#form-decision').submit();
        
            })
        })
        
        
        

    </script>
{% endblock %}
