{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}
{% block breadcrumb_title %}

    <div class="page-header">
        <h1 class="page-title">
        Ajouter une candidature
        </h1>
        <div>
            <ol class="breadcrumb">
                <a href="{{ path('app_candidature_index', {code:poste.code}) }}" class="table-hover btn btn-primary">
                    Retour
                </a>
            </ol>
        </div>
    </div>
{% endblock %}


{% block content %}
    {{ form_start(form, {'attr': {'id': 'form_candidature'}}) }}
    <div class="row">
        {# Etat civil #}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Etat civil</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if poste.critere.nomPrenoms == 1 %}
                            <div class="form-group col-6">
                                {{form_row(form.nom)}}
                            </div>
                            <div class="form-group col-6">
                                {{form_row(form.prenom)}}
                            </div>
                        {% endif %}
                        {% if poste.critere.nationalite == 1 %}
                            <div class="form-group col-6">
                                {{form_row(form.nationalite)}}
                            </div>
                        {% endif %}
                        {% if poste.critere.sexe == 1 %}
                            <div class="form-group col-6">
                                {{form_row(form.sexe)}}
                            </div>
                        {% endif %}
                       
                        {% if poste.critere.contact == 1 %}
                            <div class="form-group col-6">
                                {{form_row(form.email)}}
                            </div>
                            <div class="form-group col-6">
                                {{form_row(form.contact)}}
                            </div>
                        {% endif %}
                        {% if poste.critere.dateNissance == 1 %}
                            <div class="form-group col-6">
                                <label>Date de Naissance</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                    </div>
                                    <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" name="date_naissance">
                                </div>
                            </div>
                        {% endif %}
                        
                       
                    </div>
                </div>
            </div>
        </div>

        {# Diplôme et formations #}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Diplôme et formations</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                       
                        {% if poste.critere.diplome == 1 %}
                            <div class="col-12" id="niveauEtude">
                                {{form_row(form.niveauEtude)}}
                            </div>
                            <div class="d-none " id="domaine">
                                {{form_row(form.domaine)}}
                            </div>
                        {% endif %}
                       
                        
                        {% if poste.critere.formationPoste == 1 %}
                            <div class="form-group col-12">
                                <div class="row">
                                    <div class="col-11">
                                        {{ form_row(form.formationPoste) }}
                                        <input type="hidden" name="formations-poste" id="formations-poste">
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-warning" style="margin-top: 29px;" id="add_formation_poste">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="mt-3">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-justify" id="table_formation_poste">
                                                <thead>
                                                <th>Formations</th>
                                                <th class="btn-action">Actions</th>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# Outils informatiques #}
        {% if poste.critere.logicielSpecifique == 1 %}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Outils informatiques</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                                <div class="">Maîtriser vous le logiciel {{poste.logicielSpecifique}} ?</div>
                                <div class="d-flex">
                                    <span class="p-4">Non</span>
                                    <label class="custom-switch ">
                                        <input type="checkbox" class="ml-3 custom-switch-input" name="logiciel-specifique">
                                        <span class="custom-switch-indicator me-3"></span>
                                    </label>
                                    <span class="p-4">Oui</span>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    
    
        {# Autre Outils informatiques #}
        {% if poste.critere.autreOutils == 1 %}
            <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Autres Outils informatiques</div>
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="mb-2">Sélectionner des outils spécifiques</div>
                            <div class="custom-controls-stacked">
                            {% for outil in outils_informatiques %}
                                <label class="custom-control custom-checkbox-md ">
                                    <input type="checkbox" class="custom-control-input" name="{{ outil.code }}" >
                                    <span class="custom-control-label">{{outil.libelle}}</span>
                                </label>
                            {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {# Total expérience sur CV #}
        {% if poste.critere.totalExperiance == 1 %}
            <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Total expérience sur CV</div>
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="form-group col-12">
                                <div class="row">
                                    <input type="hidden" name="total-experience" id="total-experience">
                                    
                                    <div class="col-4">
                                        <label class="form-label">Date début</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                            <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="dateDebut">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Date Fin</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                            <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="dateFin">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Poste</label>
                                        <input type="text" class="form-control" id="posteCv">
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Organisme</label>
                                        <input type="text" class="form-control" id="organismeCv">
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="custom-controls-stacked col-1">
                                                <label class="custom-control custom-checkbox-md" style="margin-top: 40px">
                                                    <input type="checkbox" class="custom-control-input" name="dd" id="check-precision">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="col-11">
                                                <label class="form-label">Précision</label>
                                                <input type="text" class="form-control" id="precision" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-warning" style="margin-top: 36px;" id="add_experience_cv">
                                            Ajouter
                                        </button>
                                    </div>
                                    <div class="mt-3 table-responsive">
                                        <table class="table table-bordered text-justify" id="table_experience_cv">
                                            <thead>
                                                <th>Durée</th>
                                                <th>Poste</th>
                                                <th>Organisme</th>
                                                <th class="btn-action">Actions</th>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {# Parcours professionnel global prouvé #}
        {% if poste.critere.parcoursGlobal == 1 %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Parcours professionnel global prouvé <br> (Durée, Poste, Organisme)</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" name="parcours-global" id="parcours-global">
                            {# <div class="mb-2">Sélectionner des outils spécifiques</div> #}
                            <div class="custom-controls-stacked" id="parcoursGlobal">
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {# Parcours professionnel spécifique prouvé #}
        {% if poste.critere.parcoursSpecifique == 1 %}
    
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Parcours professionnel spécifique prouvé <br> (Durée, Poste, Organisme)</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" name="parcours-specifique" id="parcours-specifique">
                            {# <div class="mb-2">Sélectionner des outils spécifiques</div> #}
                            <div class="custom-controls-stacked" id="parcoursSpecifique">
                            
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    
    
        {#    Autres informations  (Connaissances/Atouts  #}
        {% if poste.critere.autreInformation == 1 %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Autres Informations (Cannaissances/Atouts)</div>
                </div>
                    {% for infos in autres_informations %}
                        <div class="card-body">
                            <div class="">{{ infos.nomColonne ~"("~ infos.information~")" }}</div>
                            <div class="d-flex">
                                <span class="p-4">Non</span>
                                <label class="custom-switch ">
                                    <input type="checkbox" name="{{ infos.code }}" class="ml-3 custom-switch-input">
                                    <span class="custom-switch-indicator me-3"></span>
                                </label>
                                <span class="p-4">Oui</span>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
        
    </div>
    <div class="text-center mb-2">
        <button class="btn btn-primary" id="enregistrer">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form, {'render_rest' : false}) }}
{% endblock %}

{% block javascripts %}
    <script>
        var formationPostes = [];
        var experiences = []
        var parcoursGlobals = []
        var parcoursSpecifiques = [];
        
        $(document).ready(function(){
            {% if poste.critere.formationPoste == 1 %}
                
                const nombreLimiteFormation = parseInt("{{ poste.nombreFormation }}")
                $('#add_formation_poste').on('click', function(){
                    let formationPoste =  $('#candidature_formationPoste').val()
                    let html ="<tr class='line'><td class='formation_poste'>"+ formationPoste +"</td><td ><button type='button' class='btn btn-danger p-1 delete-fonction-poste'><i class='fa fa-minus'></i></td></tr>"
                    if(formationPoste === " "){
                        warning_noti('Veuillez entrer une valeur');
                        system.stop()
                        return false
                    }
                    if($('#table_formation_poste tbody .line').length === nombreLimiteFormation){
                        warning_noti("Vous ne pouvez plus ajouter d'autres formations!!")
                        system.stop()
                        return  false;
                    }
                    $('#table_formation_poste tbody .line').each(function(i){
                        if($(this).find('.formation_poste').text() === formationPoste){
                            warning_noti("Vous ne pouvez plus ajouter cette ligne")
                            system.stop()
                            return  false;
                        }
                    })
                    $('#table_formation_poste tbody').append(html);
                    $('#candidature_formationPoste').val(" ")
                })
                $('body').on('click','.delete-fonction-poste', function(){
                    var tr = $(this).closest('tr')
                    tr.remove()
                })
            {% endif %}
    
            {% if poste.critere.diplome == 1%}
                {#      Diplome et niveau d'étude      #}
                $("#candidature_niveauEtude").on('change', function(){
                    $.ajax({
                        url: '{{ path('createFields') }}',
                        type: 'POST',
                        dataType : 'json',
                        data : {
                            'niveauEtude' : $(this).val()
                        },
                        success:function (data){
                            if(data.domaine){
                                $('#domaine').removeClass('d-none')
                                $('#niveauEtude').removeClass('col-12')
                                $('#niveauEtude').addClass('col-6')
                                $('#domaine').addClass('col-6')
                            }else{
                                $('#domaine').addClass('d-none')
                                $('#niveauEtude').addClass('col-12')
                                $('#niveauEtude').removeClass('col-6')
                            }
                        }
                    })
                })
            {% endif %}
            
            {% if poste.critere.totalExperiance == 1 %}
                $('#check-precision').on('click', function (){
                    if($("#check-precision").is(":checked")){
                        $('#precision').prop("disabled", false);
                    }else{
                        $('#precision').prop("disabled", true);
                    }
                })
                $('#add_experience_cv').on('click', function(){
                    var dateDebut = new Date($('#dateDebut').val())
                    var dateFin = new Date($('#dateFin').val())
                    if(dateDebut >dateFin ){
                        warning_noti("La date de début ne peut pas être supérieur à la date de fin")
                        system.stop()
                        return  false;
                    }
                    const duree = differenceEnMoisAnnee(dateDebut, dateFin);
                    var organismeCv =  $('#organismeCv').val()
                    var posteCv = $("#posteCv").val()
                    var precision  = ($("#precision").prop("disabled") || (!$("#precision").prop("disabled") && $("#precision").val().trim() == "")) ? '' :"("+ $('#precision').val() + ")" ;
                  
                    var html ="<tr class='line'><td class='duree'>"+duree+" mois</td><td class='posteCv'>"+ posteCv + precision  +"</td><td class='organismeCv'>"+ organismeCv +"</td><td><button type='button' class='btn btn-danger p-1 delete-experience-cv'><i class='fa fa-minus'></i></td></tr>"
                    if(dateDebut === " " || dateFin === " " || posteCv === " " || organismeCv === " "){
                        warning_noti('Veuillez entrer une valeur');
                        system.stop()
                        return false
                    }
                    $('#table_experience_cv tbody .line').each(function(i){
                        if($(this).find('.posteCv').text() === posteCv && $(this).find('.organismeCv').text() === organismeCv ){
                            warning_noti("Vous ne pouvez plus ajouter cette ligne")
                            system.stop()
                            return  false;
                        }
                    })
                    var poste = posteCv+precision
                    // Ajouter les parcours Global
                    addParcoursGlobal(poste,organismeCv, duree);
                    $('#table_experience_cv tbody').append(html);
                    $('#dateFin').val(" ")
                    $('#posteCv').val(" ")
                    $('#dateDebut').val(" ")
                    $('#organismeCv').val(" ")
                    $('#precision').val(" ")
                })
                // Lors de class suppression d'une ligne
                $('body').on('click','.delete-experience-cv', function(){
                    var tr = $(this).closest('tr')
                    var element  = tr.find('.duree').text()+","+ tr.find('.posteCv').text()+ ","+ tr.find('.organismeCv').text()
                    removeParcoursGlobal(element)
                    removeParcoursSpecifique(element)
                    tr.remove()
                })
                $("#parcoursGlobal").on("change", ".parcours", function() {
            
                    if ($(this).prop("checked")) {
                        addParcoursSpecifique($(this).closest('label').find('.custom-control-label').text())
                    }
                    else{
                        removeParcoursSpecifique($(this).closest('label').find('.custom-control-label').text());
                    }
                });
            {% endif %}
    
            $('#enregistrer').on('click', function (e){
                e.preventDefault()
                //Formation pertinentes  en lien avec le poste
                $('#table_formation_poste .line').each(function (){
                    formationPostes.push($(this).find('.formation_poste').text());
                })
                $('#formations-poste').val(JSON.stringify(formationPostes))
        
                //Total experience sur cv
                $('#table_experience_cv tbody .line').each(function(){
                    var dureeCv = $(this).find('.duree').text();
                    var posteCv = $(this).find('.posteCv').text()
                    var organismeCv = $(this).find('.organismeCv').text()
                    var precision = $(this).find('.precision').text()
                    var objetExperience = {
                        'duree' :dureeCv,
                        'poste' :posteCv,
                        'organisme' :organismeCv,
                        'precision' : precision
                    }
                    experiences.push(objetExperience)
                })
                // Parcours global
                $("#parcoursGlobal .parcours").each(function (){
                    if ($(this).prop("checked")) {
                        parcoursGlobals.push($(this).closest('label').find('.custom-control-label').text())
                    }
            
                })
                //Parcours specifique
                $("#parcoursSpecifique .parcours-specifique").each(function (){
                    if ($(this).prop("checked")) {
                        parcoursSpecifiques.push($(this).closest('label').find('.custom-control-label').text())
                    }
                })
                $('#total-experience').val(JSON.stringify(experiences))
                $("#parcours-global").val(JSON.stringify(parcoursGlobals))
                $("#parcours-specifique").val(JSON.stringify(parcoursSpecifiques))
                $('#form_candidature').submit();
            })
        })
        
        function addParcoursGlobal(poste, organisme, duree){
            var  html = `
                    <label class="custom-control custom-checkbox-md ">
                        <input type="checkbox" class="custom-control-input parcours">
                        <span class="custom-control-label">${duree} mois,${poste},${organisme}</span>
                    </label>
                    `;
            $("#parcoursGlobal").append(html);
        }
        

        function addParcoursSpecifique(element){
            $("#parcoursSpecifique .custom-control-label").each(function (){
                if($(this).text() === element){
                    console.log("Bonjour",element)
                    warning_noti("Vous ne pouvez plus ajouter cette ligne")
                    system.stop()
                    return false;
                }
            })
            var html = `
                    <label class="custom-control custom-checkbox-md">
                        <input type="checkbox" class="custom-control-input parcours-specifique">
                        <span class="custom-control-label">${element}</span>
                    </label>
                    `;
            $("#parcoursSpecifique").append(html);
        }
        
        function removeParcoursGlobal(element){
            $("#parcoursGlobal .custom-control-label").each(function (){
                console.log(element,$(this).text(), $(this).text() === element);
                if($(this).text() === element){
                    var label = $(this).closest('label')
                    label.remove();
                }
            })
        }

        function removeParcoursSpecifique(element){
            $("#parcoursSpecifique .custom-control-label").each(function (){
                if($(this).text() === element){
                    var label = $(this).closest('label')
                    label.remove();
                }
            })
        }


        function differenceEnMoisAnnee(dateDebut, dateFin) {
            const moisDebut = dateDebut.getMonth();
            const anneeDebut = dateDebut.getFullYear();
            const moisFin = dateFin.getMonth();
            const anneeFin = dateFin.getFullYear();
    
            console.log(anneeDebut, anneeFin, moisDebut, moisFin);
    
            let moisDiff = (anneeFin - anneeDebut) * 12 + (moisFin - moisDebut);
    
            if (moisDiff > 12) {
                const anneesCompletes = Math.floor(moisDiff / 12);
                const moisRestants = moisDiff % 12;
        
                if (moisRestants > 0) {
                    return `${anneesCompletes} an${anneesCompletes > 1 ? 's' : ''} et ${moisRestants}`;
                } else {
                    return `${anneesCompletes} an${anneesCompletes > 1 ? 's' : ''}`;
                }
            } else {
                return moisDiff;
            }
        }
        

    </script>
{% endblock %}
